*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# inteliJ
!*.iml
*.ipr
*.iws
.idea/

build/
!gradle/wrapper/*

!library/*.jar
!library/util/*.jar
!library/util/default/*.jar
!library/rescue/*.jar
!library/rescue/adf/*.jar
!library/rescue/adf/sources/*.jar
!library/rescue/core/*.jar
!library/rescue/core/sources/*.jar
